@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FFE2C3,#E8D4C6);
}

main{
 background-color: white;
 border-radius: 20px;
 box-shadow: 5px 5px 15px rgba(127, 131, 134, 0.612);
 width: 600px;
 padding: 10px;
 margin: auto;
}

h1{
color: #B7BCBF;
text-align: center;
text-shadow: 1px 1px 2px rgba(125, 129, 131, 0.612);
}

h2{
color: #CDD5C6;
}

p {
    text-align: justify;
}